*{
    cursor: pointer;
}

p.error{
    color: red;
    border: dotted 3px red;
}


p.sucess{
    color: green;
    border: solid 3px green;
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
    max-width: 500px;
    padding: 8px;
    margin: 8px 0;
    background: #eee;
    border: 1px dotted #ddd;
   
}